<%= simple_form_for([:admin, @admin_photo], url: admin_album_photos_path, html: { multipart: true }) do |f| %>
  <%= f.input :group, as: :hidden, input_html: {value: params[:group]} %>
  <%= f.input :album_id, as: :hidden, input_html: {value: params[:album_id]} %>
  <%= f.input :admin_id, as: :hidden, input_html: {value: current_admin.id} %>
  
  <table width="100%">
    <tr>
      <td><%= file_field_tag "upload_files[]", multiple: true %></td>
    </tr>
  </table>

  <table width="100%" align="center" border="0">
    <tr>
      <td align="center">
        <%= f.submit t('views.button.submit'), class:'btn btn-primary' %>
        <input type="button" value="<%= t('views.button.back') %>" class="btn" onclick="javascript:history.back();">
      </td>
    </tr>
  </table>
<% end %>