<h4 class="navbar-brand"><%= t('views.admin.menu.account_edit') %></h4>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>
  <table class="table table-bordered">
    <tr>
      <th width="15%"><%= t('views.list_mail') %></th>
      <td><%= f.input :email, :required => true, :autofocus => true, label: false, input_html: {class: 'form-control'} %></td>
    </tr>
    <tr>
      <th><%= t('views.list_password') %></th>
      <td>
        <%= f.input :password, :autocomplete => "off", :hint => t('views.password_note'), :required => false, label: false, input_html: {class: 'form-control'} %>
      </td>
    </tr>
    <tr>
      <th><%= t('views.list_password_confirmation') %></th>
      <td>
        <%= f.input :password_confirmation, :required => false, label: false, input_html: {class: 'form-control'} %>
      </td>
    </tr>
    <tr>
      <th><%= t('views.list_current_password') %></th>
      <td>
        <%= f.input :current_password, :required => true, label: false, input_html: {class: 'form-control'} %>
      </td>
    </tr>
  </table>
  <div class="form-actions">
    <%= f.button :submit, t('views.button.submit'), class:'btn btn-primary' %>
  </div>
<% end %>
