<h4 class="navbar-brand"><%= news_group_name(params[:group]) %></h4>
<div class="row">
  <div class="col-lg-12">
    <form name='form1' method='get' action='' >  
      <table width='100%'>
        <tr>
          <td>
            <%= t('views.list_title') + t('views.search_keyword') %> <input type='text' name='search' id='search' value="">
            <input type='submit' class='btn btn-primary' value='<%= t('views.button.search') %>'>
            <input type='button' class='btn' value='<%= t('views.button.clean') %>' onclick="">
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
<table width='100%'>
  <tr>
    <td align='right' >
      <%= link_to raw('<i class="fa fa-plus"></i>' + t('views.button.add')), new_admin_news_path, class: 'btn btn-default' %>
    </td>
  </tr>
</table>
<% if @admin_news.blank? %>
  <div align="center" style="position: relative; top:100px;"><%= t('views.no_data') %></div>
<% else %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t('views.list_title') %></th>
        <th width="15%"><%= t('views.list_date') %></th>
        <th width="15%"><%= t('views.list_option') %></th>
      </tr>
    </thead>
    <tbody>
      <% @admin_news.each do |news| %>
        <tr>
          <td>
            <%= link_to news.title, news_show_path(params[:group], news), :target => "_blank" %>
            <% if news.top == "yes" %><font color="red">[<%= t('views.list_top') %>]</font><% end %>
          </td>
          <td align="center"><%= news.created_at.strftime("%Y-%m-%d") %></td>
          <td align="center">
            <%= link_to raw('<i class="fa fa-pencil-square-o"></i>' + t('views.button.edit')), edit_admin_news_path(params[:group], news), class: 'btn btn-default' %> 
            <%= link_to raw('<i class="fa fa-trash-o"></i>' + t('views.button.delete')), admin_news_path(params[:group], news), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @admin_news %>
<% end %>