<h4 class="navbar-brand"><%= @admin_news.title %></h4>
<table width="100%" border="0" align="center">
	<tr>
		<td align="right">
			<small><%= t('views.list_date') %>：<%= @admin_news.created_at.strftime("%Y-%m-%d") %></small>
		</td>
	</tr>
</table>
<br>
<%= raw(@admin_news.content) %>
<br>
<table width='100%' align='center'>
	<tr>
		<td align='center'><input type='button' value='<%= t('views.button.back') %>' class='btn' onclick='javascript:history.back();'></td>
	</tr>
</table>