<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center"><strong><%= t('help.news_group.group_' + params[:group]) %></strong></h2>
      <hr>
      <table class="table">
        <% @news.each do |news| %>
        <tr>
          <td><%= link_to news.title, news_show_path(params[:group], news) %> <% if news.top == "yes" %><font color="red">[<%= t('views.list_top') %>]</font><% end %></td>
          <td width="15%"><%= news.created_at.strftime("%Y-%m-%d") %></td>
        </tr>
        <% end %>
      </table>
      <%= paginate @news %>
    </div>
  </div>
</div>