<%= simple_form_for([:admin, @admin]) do |f| %>
	<table class="table table-bordered">
		<tr>
			<th>Email</th>
			<td><%= f.input :email, label: false, input_html: {class: 'form-control'}, :required => true %></td>
		</tr>
		<tr>
			<th>password</th>
			<td><%= f.input :password, label: false, input_html: {class: 'form-control'}, :autocomplete => "off", :required => form_type == 'new' ? true : false %></td>
		</tr>
		<tr>
			<th>password 2</th>
			<td><%= f.input :password_confirmation, label: false, input_html: {class: 'form-control'}, :required => form_type == 'new' ? true : false %></td>
		</tr>
		<% if form_type == 'edit' %>
		<tr>
			<th>舊密碼</th>
			<td>
				<%= f.input :current_password, label: false, input_html: {class: 'form-control'}, :required => true %>
			</td>
		</tr>
		<% end %>
	</table>
	<div align="center">
		<%= f.submit t('views.button.submit'), class:'btn btn-primary' %>
    <input type="button" value="<%= t('views.button.back') %>" class="btn" onclick="javascript:history.back();">
	</div>
<% end %>