<style type="text/css">
	body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
<div class="container">
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<div class="form-signin">
		  <h2 class="form-signin-heading">Please sign in</h2>
		  <%= f.input :email, :required => false, :autofocus => true, :placeholder => "Email address", input_html: { class: 'form-control' }, :label => false %>
		  <%= f.input :password, :required => false, :placeholder => "Password", input_html: { class: 'form-control' }, :label => false %>
	    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
		  <%= f.button :submit, "Sign in", :class => 'btn btn-lg btn-primary btn-block' %>
		  <%= render "devise/shared/links" %>
		</div>
	<% end %>
</div>