<div class="brand"><%= t('views.title') %></div>
<div class="address-bar">https://github.com/xtony77</div>

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= root_path %>"><%= t('views.title') %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= t('views.menu.about') %><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><%= t('help.about_group.group_1') %></li>
                        <li class="divider"></li>
                        <li><%= t('help.about_group.group_2') %></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= t('views.menu.news') %><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><%= t('help.news_group.group_1') %></li>
                        <li class="divider"></li>
                        <li><%= t('help.news_group.group_2') %></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= t('views.menu.album') %><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><%= t('help.album_group.group_1') %></li>
                        <li class="divider"></li>
                        <li><%= t('help.album_group.group_2') %></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>